*{
    margin: 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#site{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding-left: 7px;
}

#btn{
    width: 200px;
    color: white;
    background-color: #5f9341;
    border:none;
    font-weight: bolder;
    font-size: 20px;
}

#lista{
    list-style-type: none;
    padding-left: 0;
}

li{
    margin-top: 5px;
}

a{
    color: #5f9341;
}