@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
    font-family: 'Great Vibes', cursive;
    font-size: 1.7em;

}
main{
    width: 600px;
    height: 300px;
    margin: auto;
}
p{
    text-indent: 18px;
    padding-top: 0;
    margin: 0;
}
.paragrafo1{
    text-indent: 25%;
}

.paragrafoFinal{
    padding-top: 3px;
    margin-top: 0;
    text-indent: 40%;
    font-size: 30px;
}
